<!DOCTYPE html>
<html>
  <head>
    <title>SOCIALS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <%- include('modules/links.ejs') %>
  </head>
  
  <body> 
    <%- include('modules/navbar.ejs') %>

<section class="ppal-form">
  <div>
<h2 class="text-center p-2">Añade un juego a un perfil</h2>
</div>

<div class="form">
<form
action="/games/addNewGameSelect"
method="post"
enctype="multipart/form-data"
>

        <div class="mb-3">
             <label for="nombre" class="form-label"
            >Elige un usuario al que añadir el juego</label>
            <select 
                class="form-select" 
                aria-label="Default select example"
                name="id_user" 
            >
                <option selected disabled value="">Usuarios</option>

                <% thisUser.forEach((elem)=>{ %>
                    <option value="<%= elem.id_user %>"><%= `${elem.name} ${elem.last_name} ` %></option>
                <% }) %>
                
            </select>
        </div>
<div>
<label for="disabledTextInput" class="form-label">Nombre del juego:</label>
<input 
type="text" 
name="name"
class="form-control" 
placeholder="Enter name">
</div>
<div>
<label for="disabledTextInput" class="form-label">Reseña: </label>
<input
type="text" 
name="review"
class="form-control" 
>
</div>
<div>
<label for="disabledTextInput" class="form-label">Puntuación: </label>
<select name="stars">
  <option value="">Elige una puntuación</option>
  <option value="1">⭐</option>
  <option value="2">⭐⭐</option>
  <option value="3">⭐⭐⭐</option>
  <option value="4">⭐⭐⭐⭐</option>
  <option value="5">⭐⭐⭐⭐⭐</option>
</select>
</div>
<div>
<label for="disabledTextInput" class="form-label">Plataforma: </label>
<input
type="text" 
name="platform"
class="form-control" 
>
</div>
<div>
<label for="disabledTextInput" class="form-label">Año de publicación: </label>
<input
type="text" 
name="year_publication"
class="form-control" 
>
</div>

<div class="mb-3">
<label for="foto" class="form-label text-center position-absolute">Añade una imagen
  <br><img src="/images/iconphoto.png"></label>
<input
type="file"
class="form-control"
id="foto"
name="image"
hidden
/>
</div>

<p class="msg-allert"><%= message %></p>
 <div class="btn d-flex justify-content-evenly">
<button class="my-btn mt-3" type="submit">Enviar</button>
<button class="my-btn mt-3" type="reset">Borrar</button>
</div>
</form>
</div>
</section>



     <%- include('modules/footer.ejs') %>
  </body>
</html>
   