<!DOCTYPE html>
<html>
<head>
<title>SOCIALS</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/card-user.css' />
<link rel='stylesheet' href='/stylesheets/card-games.css' />
<%- include('modules/links.ejs') %>
</head>

<body> 
<%- include('modules/navbar.ejs') %>



<section class="cont-users-private">
<h2><%= thisUser.name %> <%= thisUser.last_name %></h2>
<img class="card-img-top target" src="/images/usuarios/<%= thisUser.image %>">
<br>
<h4><%= thisUser.preferences %></h4>

<div class="btn">
<button onclick="window.location.href='/users/openAddGame/<%= thisUser.id_user %>'">Añadir juego al usuario</button>
<button onclick="window.location.href='/users/editUser/<%= thisUser.id_user %>'">Editar usuario</button>
<button onclick="window.location.href='/users/elimTotalUser/<%= thisUser.id_user %>'">Borrar usuario</button>
</div>
</section>



<section>
<h2 class="text-center">MI REPOSITORIO DE JUEGOS</h2>
<div class="row m-3">
<% game.forEach((elem)=>{ %>

  <div class="card m-3 col-12 col-sm-6 col-md-4 col-lg-3">
  <div class="row">
    <div class="col-12 col-lg-6">
      <img class="card-img-top" src="/images/juegos/<%= elem.image %>">
      <h3 class="card-title"><%= elem.name %></h3>
        <a href="/games/editGame/<%= elem.id_game %>" class="btn btn-primary">Modificar</a>
            <a href="/games/elimTotalGame/<%= elem.id_game %>/<%= elem.id_user %>" class="btn btn-primary">Borrado total</a>
    <a href="/games/elimGame/<%= elem.id_game %>/<%= elem.id_user %>" class="btn btn-primary">Borrado en vistas</a>
    </div>
  
  <div class="col-12 col-lg-6">
    <ul class="list-group list-group-flush">
    
        <li>
          <h4>Reseña:</h4> <p><%= elem.review %></p>
        </li>
        <li>
          <h4>Puntuación:</h4><p><%= elem.stars %>/5</p>
        </li>
        <li>
          <h4>Plataforma:</h4><p><%= elem.platform %></p>
        <li>
        <li>
          <h4>Año de publicación:</h4><p><%= elem.year_publication %></p>
        </li>
    </ul>
  </div>
  </div>
  
  </div>
<% }) %>
</div>
</section>


<%- include('modules/footer.ejs') %>
</body>
</html>
